.social_link {
    display: flex;

    position: relative;
    width: 40px;
    height: 40px;

    margin: 10px;

    border: white 2px solid;
    border-radius: 1px;

    transition: width 0.1s ease-in-out;
}

.social_link:hover {
    width: 90px;
}

.social_link_icon {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    transition: opacity 0.1s ease-in-out;
}

.social_link:hover .social_link_icon {
    opacity: 0;
}

.social_link_name {
    margin: auto;

    font-size: medium;

    opacity: 0;

    transition: opacity 0.1s ease-in-out;
}

.social_link:hover .social_link_name {
    opacity: 1.0;
}
