<div class="header">
    <a class="website_title" href="/">
        <h1>Joseph Naberhaus</h1>
    </a>
    <div class="navigation">
        <!--@navigation-link{"name": "Programming", "link": "/programming/projects.html", "icon": "/components/header/navigation-link/programming.svg"}-->
        <!--@navigation-link{"name": "Woodworking", "link": "/woodworking/projects.html", "icon": "/components/header/navigation-link/woodworking.svg"}-->
        <!--@navigation-link{"name": "Domino Supplies", "link": "domino-supplies", "icon": "/components/header/navigation-link/domino-supplies.svg"}-->
    </div>
</div>