<div class="header">
    <h1 class="website_title">Joseph Naberhaus</h1>
    <div class="navigation">
        <!--@NavigationLink{"name": "Programming", "link": "programming", "icon": "/components/header/navigation-link/programming.svg"}-->
        <!--@NavigationLink{"name": "Woodworking", "link": "/woodworking/projects.html", "icon": "/components/header/navigation-link/woodworking.svg"}-->
        <!--@NavigationLink{"name": "Domino Supplies", "link": "domino-supplies", "icon": "/components/header/navigation-link/domino-supplies.svg"}-->
    </div>
</div>