.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    font-family: "Verdana", sans-serif;
}

.website_title {
    margin-right: auto;

    border-bottom: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}