.external_link {
    display: flex;
    flex-direction: row;

    margin-block-start: 1em;
    margin-block-end: 1em;

    border-bottom: none;
}

.external_link_icon {
    width: 60px;

    transition: transform 0.1s ease-in-out;
}

.external_link:hover .external_link_icon {
    transform: scale(1.02);
}

.external_link_text {
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;

    border-bottom: 1px var(--text) solid;
}

.external_link:hover .external_link_text {
    border-color: var(--highlight);
}