.footer {
    margin-top: auto;
    margin-left: -1rem;
    margin-right: -1rem;

    width: auto;
    height: 100px;

    font-family: "Verdana", sans-serif;

    background: var(--text);
}

.social-links {
    display: flex;
    justify-content: center;
}

.copyright {
    text-align: center;
    color: var(--background);
    font-size: 12px;
}