<div class="footer">
    <div class="social-links">
        <!--@social-link{"name": "E-mail", "icon": "/components/footer/social-link/email.svg", "link": "mailto:contact@naberhausj.com"}-->
        <!--@social-link{"name": "Github", "icon": "/components/footer/social-link/github.svg", "link": "http://github.com/josephNaberhaus"}-->
        <!--@social-link{"name": "YouTube", "icon": "/components/footer/social-link/youtube.svg", "link": "https://www.youtube.com/c/JosephNaberhaus"}-->
        <!--@social-link{"name": "Public Key", "icon": "/components/footer/social-link/key.svg", "link": "/components/footer/social-link/joseph-naberhaus-public.gpg"}-->
        <!--@social-link{"name": "LinkedIn", "icon": "/components/footer/social-link/linkedin.svg", "link": "https://www.linkedin.com/in/naberhausj"}-->
    </div>
    <div class="copyright">
        &copy; Joseph Naberhaus 2020-21
    </div>
</div>