.footer {
    margin-top: auto;
    margin-left: -8px;
    margin-right: -8px;

    width: auto;
    height: 100px;

    background: black;
}

.social-links {
    display: flex;
    justify-content: center;
}

.copyright {
    text-align: center;
    color: var(--background);
    font-size: 12px;
}