:root {
    --text: rgb(17, 17, 17);
    --highlight: rgb(95, 168, 211);
    --highlight-dark: rgb(19, 51, 70);
    --background: rgb(255, 255, 254);
}

html {
    height: 100%;
}

body {
    min-height: 100%;

    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: var(--text);

    background: var(--background);

    margin: 0 1rem;

    display: flex;
    flex-direction: column;
}

p {
    line-height: 1.5;
}

a {
    color: var(--text);
    text-decoration: none;

    border-bottom: var(--text) 1px solid;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

code {
    white-space: pre-wrap;
}

a:hover {
    color: var(--highlight);

    border-color: var(--highlight);
}

.catalog {
    margin-left: auto;
    margin-right: auto;

    max-width: 1000px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    width: 100%;
    max-width: 700px;
}

section {
    clear: both;
}

hr {
    width: 100%;
}

img, video {
    max-width: 100%;
    height: auto;
}

img {
    border-radius: 2px;
}

.image_left {
    float: left;
    margin-block-end: 1rem;
    margin-inline-end: 1rem;
}

.image_right {
    float: right;
    margin-block-end: 1rem;
    margin-inline-start: 1rem;
}

.image_flex_center {
    margin: 0.5rem;
}

.flex_center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
