:root {
    --text: rgb(17, 17, 17);
    --light-text: rgb(255, 255, 254);
    --highlight: rgb(95, 168, 211);
    --highlight-dark: rgb(19, 51, 70);
    --background-dark: rgb(240, 240, 239)
}

html {
    height: 100%;
}

body {
    min-height: 100%;

    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: var(--text);

    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48ZmlsdGVyIGlkPSJuIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjQiIHN0aXRjaFRpbGVzPSJzdGl0Y2giLz48L2ZpbHRlcj48cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjA4Ii8+PC9zdmc+");

    margin: 0 1rem;

    display: flex;
    flex-direction: column;
}

p, ul, ol {
    line-height: 1.5;
}

/* Move down any text that would occupy less than 30% width after wrapping around an image */
p:before {
    content: "";
    width: 20%;
    display: block;
    overflow: hidden;
}

a {
    color: var(--text);
    text-decoration: none;

    border-bottom: var(--text) 1px solid;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

code {
    white-space: pre-wrap;
}

pre {
    margin: 0;
    padding: 0.5rem;
    background-color: var(--background-dark);

    border-radius: 2px;

    overflow-x: auto;
}

a:hover {
    color: var(--highlight);

    border-color: var(--highlight);
}

.catalog {
    margin-left: auto;
    margin-right: auto;

    max-width: 1000px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    width: 100%;
    max-width: 700px;
}

section {
    clear: both;
}

hr {
    width: 100%;
}

img, video {
    max-width: 100%;
    height: auto;
}

img {
    border-radius: 2px;
}

@media screen and (max-width: 600px) {
    article :not(a) > img, article :not(a) > video {
        width: calc(100vw - 2rem);
    }
}

.image_left {
    float: left;
    clear: both;
    margin-block-end: 1rem;
    margin-inline-end: 1rem;
}

.image_right {
    float: right;
    clear: both;
    margin-block-end: 1rem;
    margin-inline-start: 1rem;
}

.image_flex_center {
    margin-bottom: 1rem;
}

.flex_center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
