.domino_supplies_images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 1rem;
}

.domino_supplies_images img {
    margin-bottom: 1rem;

    margin-left: 1rem;
    margin-right: 1rem;
}